<a href="https://colab.research.google.com/github/Twilightin/GD/blob/main/A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Greeting from Google Drive
## Hello, World~

My Second Command

In [1]:
!pwd

/content

In [2]:
cd sample_data/

/content/sample_data

In [8]:
!ls

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [10]:
import pandas as pd

In [13]:
!pwd

/content/sample_data

In [14]:
!ls

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [15]:
!git clone https://github.com/anujshah1003/own_data_cnn_implementation_keras.git

Cloning into 'own_data_cnn_implementation_keras'...
remote: Enumerating objects: 51, done.
remote: Total 51 (delta 0), reused 0 (delta 0), pack-reused 51
Unpacking objects: 100% (51/51), done.

In [18]:
pwd

'/content/sample_data'

In [17]:
cd /content/own_data_cnn_implementation_keras/

[Errno 2] No such file or directory: '/content/own_data_cnn_implementation_keras/'
/content/sample_data

In [12]:
pd.read_csv('/content/sample_data/california_housing_test.csv')

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]